.Work {
    display: flex;
    justify-content: center;
    align-items: center;
    h1 {
        position: fixed;
        top: -4rem;
        right: 20%;
        color: rgba(252, 246, 244, 0.1);
        font-size: calc(5rem + 5vw);
        z-index: 0;
    }
    .inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;
        margin: 7rem;
    }
    .box {
        width: 16rem !important;
        height: 40vh;
        background-color: rgb(252, 246, 244);
        color: rgb(0, 0, 0);
        padding: 0rem 2rem 3rem 2rem;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border: 1px solid rgb(0, 0, 0);
        transition: all 0.3s;
        &:hover {
            border: 1px solid #fff;  
            background-color: black;
            color: #fff;
        }
        h2 {
            font-size: calc(1em + 0.5vw);
        }
        h4 {
            font-size: calc(0.8em + 0.3vw);
            font-family: Karla, sans-serif;
            font-weight: 500;
        }
        &:hover .has-tag {
            border-top: 2px solid #fff;
        }
        .has-tag {
            transition: all 0.3s;
            border-top: 2px solid rgb(0, 0, 0);
            padding-top: 0.5rem;
            display: flex;
            flex-wrap: wrap;
            span {
                margin-right: 1rem;
                font-size: calc(0.8em + 0.3vw);
            }
        }
        &:hover footer .visit {
            background-color: #fff;
            color: black;
        }
        &:hover footer .github {
            fill: #fff;
        }
        footer {
            display: flex;
            justify-content: space-between;
            margin-top: 0.4rem;
            .visit {
                transition: all 0.3s;
                background-color: rgb(0, 0, 0);
                color: rgb(252, 246, 244);
                text-decoration: none;
                padding: 0.5rem calc(2rem + 2vw);
                border-radius: 0px 0px 0px 50px;
                font-size: calc(1em + 0.5vw);
            }
            .github {
                transition: all 0.3s;
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
// Tablet 
@media only screen and (max-width: 768px){
    .Work {
        .inner {
            grid-template-columns: 1fr 1fr;
        }
      }
 }
 // Tablet pro
 @media only screen and (max-width: 1024px){
    .Work {
        .inner {
            grid-template-columns: 1fr 1fr;
        }
        .box {
            height: 25vh !important;
        }
      }
 }
// Mobie 
@media only screen and (max-width: 600px) {
  .Work {
    .inner {
        grid-template-columns: 1fr;
    }
  }
 }